{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Create Order {% endblock %}

{% block search_box %}

{% endblock %}
{% block nav %}
        <li class="nav-item"><a class="nav-link" href="{% url 'newcar' %}"><span class="glyphicon glyphicon-align-justify"></span> Newly Added Car</a class="nav-item"></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'popularcar' %}"><span class="glyphicon glyphicon-star"></span> Popular car</a class="nav-item"></li class="nav-item">
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Logout</a class="nav-item"></li class="nav-item">
{% endblock %}
{% block body %}

<div class ='col-sm-6 ml-auto mr-auto'>
<div class="card card-shadow">
<div class="card-header">
    <h4><span class="glyphicon glyphicon-tag"></span> Book Your Car</h4>
</div>
<div class="card-body p-4">
  <form method="POST" action="" >{% csrf_token %}

    {{form|crispy}}


<div class="form-group row">
  <div class="col-sm-offset-3 col-sm-10">
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Book</button>
  </div>
</div>
</form>
</div>
</div>


</div>


{% endblock %}